{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

    <div class="row">
        <form class="form" method="GET" action="{{ url_for('start_continue') }}">
                <div class="col-lg-2">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search for labels...">
                    </div><!-- /input-group -->
                </div>
                <div class='col-lg-2'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker6'>
                            <input type='text' class="form-control" name="date_start" placeholder="{{ dt.datetime.today().strftime('%Y-%m-%d') }}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-lg-2'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker7'>
                            <input type='text' class="form-control" name="date_end" placeholder="{{ (dt.datetime.today() + dt.timedelta(days=1)).strftime('%Y-%m-%d') }}"/>
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
            <div class='col-lg-2'>
                <span class="input-group-btn">
                            <button class="btn btn-Success" type="submit">Search</button>
                        </span>
            </div>

            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker6').datetimepicker();
                    $('#datetimepicker7').datetimepicker({
                        useCurrent: false //Important! See issue #1075
                    });
                    $("#datetimepicker6").on("dp.change", function (e) {
                        $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
                    });
                    $("#datetimepicker7").on("dp.change", function (e) {
                        $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
                    });
                });
            </script>
        </form>
    </div><!-- /.row -->

<div class="row">
    <div class="panel panel-default"></div>
        <form class="form" method="POST" action="{{ url_for('new_label') }}">
            <span class="input-group-btn">
                <div class="col-lg-2">
                    <input type="text" name="label_name" class="form-control" placeholder="New label...">
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-success" type="submit">Create</button>
                </div>
            </span>
        </form>
</div>
<div class="panel panel-default"></div>
        <table class="table">
            <thead>
            <th>Labels</th>
            <th>Date Created</th>
            <th></th>
            </thead>
            <tbody>
                {% for label in labels %}
                    {{ macros.labels(label,dp,id) }}
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}