{% macro filters(post,labels,dp,id) %}
                <tr>
                    <td width="20%"><img src="{{ post.img_url }}"></td>
                    <td width="40%"> <p>{{ post.content }}</p></td>
                    <td width="10%"><p>{{ dp(post.created_time).strftime('%A, %B %d, %Y %I:%M%p') }}</p></td>
                    <td width="10%"><a href="{{ post.post_url }}" target="_blank">View Post</a></td>
                    <td width="20%">
                        <div class="input-group-left">
                                <form class="form-inline" method="POST" action="{{ url_for('add_label') }}">
                            <input list="labels" type="text" name="label" class="form-control" placeholder="Label">
                                    <datalist id="labels">
                                        {% for label in labels %}
                                        <option value="{{ label.name }}">
                                        {% endfor %}
                                    </datalist>

                            <input type="text" name="hidden" class="sr-only" value="{{ post.id }}">
                            <span class="input-group-btn-left">
                                <button class="btn btn-success" type="submit">Add</button>
                            </span>
                            </form>
                            </div><!-- /input-group -->
                        <div class="input-group-left">
                            {% for label in post.labels %}
                            <form class="form-inline" method="POST" action="{{ url_for('remove_label') }}">
                                <input type="text" name="hidden1" class="sr-only" value="{{ post.id }}">
                            <div class="btn-group btn-group" role="group">
                                <input type="text" name="delete" class="sr-only" value="{{ label.id }}">
                                <div class="btn-group" role="group">
                                    <button class="btn btn-default" type="submit">{{ label.name }} <span>&#10006;</span></button>
                                </div>
                                </div>
                                </form>
                            {% endfor %}
                        </div>
                    </td>
                </tr>
{% endmacro %}

{% macro labels(label,dp,id) %}
    <tr>
        <td width="20%"> <p>{{ label.name }}</p></td>
        <td width="30%"><p>{{ dp(label.created_time).strftime('%A, %B %d, %Y %I:%M%p') }}</p></td>
        <td width="50%">
            <div class="input-group-left">
                    <form class="form-inline" method="POST" action="{{ url_for('drop_label') }}">
                <input type="text" name="label_id" class="sr-only" value="{{ label.id }}">
                <span class="input-group-btn-left">
                    <button class="btn btn-success" type="submit">Delete</button>
                </span>
                </form>
                </div><!-- /input-group -->
        </td>
    </tr>
{% endmacro %}