{% macro filters(post,dp,id) %}
            <!-- Table -->
                <tr>
                    <td width="20%"><img src="{{ post.img_url }}"></td>
                    <td width="40%"> <p>{{ post.content }}</p></td>
                    <td width="10%"><p>{{ dp(post.created_time).strftime('%A, %B %d, %Y %I:%M%p') }}</p></td>
                    <td width="10%"><a href="{{ post.post_url }}">View Post</a></td>
                    <td width="20%">
                        <div class="input-group">
                            <form class="form-inline" method="POST" action="{{ url_for('add_label') }}">
                            <input type="text" name="label" class="form-control" placeholder="Label">
                            <input type="text" name="hidden" class="sr-only" value="{{ post.id }}">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Add</button>
                            </span>
                            </form>
                        </div><!-- /input-group -->
                        {% for label in post.labels %}
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ label.name }}
                                <span>&#10006;</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Delete</a></li>
                            </ul>
                        </div>
                        {% endfor %}
                    </td>
                </tr>
{% endmacro %}